body{
  background-image: url('https://media.giphy.com/media/ImqHjWFOg7JHq/giphy.gif');
  background-repeat: no-repeat;
  background-size: cover;
  color: red;
}
h3{
  text-align: center;
  background-color: #800080;
}
.p1{
  margin-bottom: 50px;
  padding: 10px;
  margin-top:25px;
  border: 1px solid #48D1CC;
}
.p2{
  margin-bottom: 50px;
  padding: 10px;
  border: 1px solid #48D1CC;
}
.p1 .p2{
  display: flex;
  text-align: center;
  margin-bottom: 50px;
  border: 1px solid #48D1CC;
  color: greenyellow;
}
.hide1{
  text-align: center;
  display:none;
  color: #800000
}
.hide2{
  display:none;
  text-align: center;
}
.clause1{
  display: none;
  text-align: center;
}
.clause2{
  display: none;
  text-align: center;
}
.col-md-6{
  border: 3px solid black;
  background-color: #FA8072;
}
.players{
  text-align: center;
  margin: 10%;
  color: #800000;
}
.dice{
  text-align: center;
}
#blue{
  text-align: center;
}